.container{
    width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.box1{
    width: 100%;
   
}
.a{
    width: 20%;
    margin: auto;
}
.b{
    width: 20%;
    margin: auto;
}
.cd{
    width: 30;
}
.cd .c{
    width: 20%;
    margin: auto;

}
.cd .d{
    width: 20%;
    margin: auto;
   

}